.places h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articles article {
    width: 390px;
    margin: 20px;
    padding: 0 20px;
    border: solid 1px #ff5a5f;
    border-radius: 4px;
}

.place_title h2 {
    font-size: 30px;
    text-align: center;
}

.place_title {
    position: relative;
    padding-bottom: 25px;
}

.price_by_night {
    position: absolute;
    top: 0;
    right: 0;
    color: #ff5a5f;
    border: solid 4px #ff5a5f;
    border-radius: 50%;
    min-width: 60px;
    width: fit-content;
    height: 60px;
    padding: 5px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    height: 80px;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guest_icon {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 50px;
}

.bedroom_icon {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 50px;
}

.bathroom_icon {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 50px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user {
    padding: 20px 0 10px;
}

.place_amenities,
.reviews {
    margin-top: 40px;
}

.place_amenities h2,
.reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: solid 1px #dddddd;
}

.tv-icon {
    background-image: url("../images/icon_tv.png");
}

.wifi-icon {
    background-image: url("../images/icon_wifi.png");
}

.pets_friendly-icon {
    background-image: url("../images/icon_pets.png");
}

.tv-icon,
.wifi-icon,
.pets_friendly-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.place_amenities ul,
.reviews ul {
    margin: 0;
    padding: 0;
}

.place_amenities ul li {
    display: flex;
    align-items: center;
    padding: 5px;
}

.reviews li {
    margin-bottom: 15px;
}

.reviews h3 {
    font-size: 14px;
}

.reviews p {
    font-size: 12px;
}
