.places h1 {
    font-size: 30px;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articles article {
    width: 390px;
    margin: 20px;
    padding: 0 20px;
    border: solid 1px #ff5a5f;
    border-radius: 4px;
}

.articles article h2 {
    font-size: 30px;
    text-align: center;
}
